.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.petsContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.petCard {
  border: 1px solid blue;
  background-color: gray;
  padding: 10px;
  margin: 10px;
  width: 80vw;
}
